.game-container{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    text-align: justify;
    border: 1px solid var(--second);
    border-radius: 20px;
}

.game-container h1{
    text-align: center;
    padding-bottom: 20px;
}
