@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
    font-family: 'Noto Sans JP', sans-serif;
    --principal: #FDFEFE;
    --second: #dbe1e2;
    --contrast: #32bfe9;
}

*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
}

a:hover{
    color: var(--contrast);
    font-weight: bold;
    transition: all ease .3s;
}

.page{
    margin: 60px auto;
    width: 100%;
    max-width: 1280px;
}